.advertisements-add .form-control {
    margin-bottom: 10px;
}

.advertisements-add .price label,
.advertisements-add .mileage label,
.advertisements-add .description label {
    margin-bottom: 4px;
}

.advertisements-add .fileinput-button {
    margin-bottom: 10px;
}

.advertisements-add .files .filename {
    overflow: hidden;
}

.advertisements-add .files .info {
    margin-bottom: 2px;
}

.advertisements-add .files .thumbnail {
    text-align: center;
}
