.advertisements-create .form-control {
    margin-bottom: 10px;
}

.advertisements-create .price label,
.advertisements-create .mileage label,
.advertisements-create .description label {
    margin-bottom: 4px;
}

.advertisements-create .fileinput-button {
    margin-bottom: 10px;
}

.advertisements-create .files .filename {
    overflow: hidden;
}

.advertisements-create .files .info {
    margin-bottom: 2px;
}

.advertisements-create .files .thumbnail {
    text-align: center;
}
